.nav-all {

    background-color: #FF9933;
}

.logo {
    width: 100px;
    display: inline-block;
}

.logo-head {
   
    margin-top: 5%;
    color: #000080;
}

.head1 {
    display: inline-block;
    padding-left: 10%;
}