@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.image_top_edit {
    width: 100%;
}

.heading-edit {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.1rem;
    padding: 5% 15% 0% 15%;
    text-align: left;
}

.line-edit {
    width: 45%;
    height: 5px;
    background-color: #FF9933;
    margin-left: 15%;
    
}

.wrap-all {
    padding: 0% 5%;
}

.card-edit {
    border-radius: 15px;
}
